/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --bg-color: #000028;
  --text-color: #F1B2CE;
  --button-color: #FF0070;
  --button-color-hover: #FF007066;
  --tytle-color: #DB00FF;
  --shadow: #FF0070;
  --section-tytle-color: #FF0070;
  --paragraph-tytle-color: #000028;
  --bg-color-tytle: #FF0070;
  --image: url(../images/cover-image-dark.png);
}
