/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --bg-color: #FFF1F7;
  --text-color: #353430;
  --button-color: #353430;
  --tytle-color_1: #FFC2E6;
  --shadow: #FF0070;
  --tytle-color_2: #353430;
  --tytle-color_3: #353430;
  --bg-color-tytle: #FF8DCB;
  --image: url(../images/cover-image-light.png);
}



@media (prefers-color-scheme: light) {
  .page {
    --bg-color: #FFF1F7;
    --text-color: #353430;
    --button-color: #353430;
    --tytle-color_1: #FFC2E6;
    --shadow: #FF0070;
    --tytle-color_2: #353430;
    --tytle-color_3: #353430;
    --bg-color-tytle: #FF8DCB;
    --image: url(../images/cover-image-light.png);
    }

  .page.theme_auto .header__label {
    display: none !important;
  }

}

.page.theme_light .header__label {
  display: none !important;
}