.page {
  font-family: 'IBM Plex mono', Arial, Helvetica, sans-serif;
  color: var(--text-color, black);
  background-color: var(--bg-color, white);
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: auto;
  font-size: 18px;
  line-height: 23.4px;
}

a {
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0 var(--shadow, black);
  color: var(--text-color, black);
}

a:hover {
  border-bottom: 2px solid var(--text-color, black);
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1.5px;
}

.header {
  position: relative;
  height: max(100vh, 668px);
  display: grid;
  grid-template-rows: 41.50% 31.77% 26.69%;
}

.decor::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-top: 1px solid var(--button-color, black);
  border-right: 1px solid var(--button-color, black);
}

.decor::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid var(--button-color, black);
  border-left: 1px solid var(--button-color, black);
}

.decorated-zone {
  background-image: var(--image);
  object-fit: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__label {
  position: absolute;
  top: 20px;
  right: 48px; 
  font-size: 18px;
  line-height: 25px;
  color: var(--button-color, black);
}


.header__label::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-color: var(--button-color, black);
  border-radius: 50%;
  margin-left: 10px;
  vertical-align: middle;
  box-shadow: 0px 0px 4px 2px var(--shadow, black);
  position: absolute;
  top: 8px;
}

.header__theme-menu {
  justify-self: center;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  gap: 13px;
}

button {
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border:none;
  color: var(--button-color, black);
}

button:hover {
  outline: 1px solid var(--button-color-hover);
}

button:active {
  outline: 1px solid var(--button-color);
}

button:focus {
  outline: none;
}

button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-item {
  height: 26px;
  width: 70px;
  text-align: center;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color, white);
  height: 26px;
  width: 70px;
  pointer-events: none;
}

.header_tytle {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--tytle-color, black);
  text-shadow: 4px 4px 0 var(--shadow, black);
}

.header_text {
  color: var(--paragraph-tytle-color, black);
  font-weight: 700;
  background-color: var(--bg-color-tytle, white);
  margin-left: auto;
  margin-right: 20px;
  width: calc(100% / 2 - 20px);
}

.content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  margin: 60px 20px 0;
}

.paragraph_tytle {
  color: var(--section-tytle-color, black);
  font-weight: 700;
  font-size: 18px;
}

.content__tytle {
  grid-column: 1;
}

.content__paragraph {
  grid-column: 2;
}

.column_tytle {
  color: var(--paragraph-tytle-color, black);
  font-weight: 700;
  background-color: var(--bg-color-tytle, white);
  margin-bottom: 10px;
  font-size: 18px;
}

.column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 80px 20px 80px;
}

.column_tytle {
  grid-row: 1;
  grid-column: 1 / 2;
}

.column__multitasking {
  grid-row: 2;
  grid-column: 1 / 2;
}

.column__meal {
  grid-row: 2;
  grid-column: 2 / 3;
}

.column__gadget {
  grid-row: 2;
  grid-column: 3 / 4;
}

.hint_tytle {
  color: var(--paragraph-tytle-color, black);
  font-weight: 400;
  background-color: var(--bg-color-tytle, white);
  margin-bottom: 10px;
  margin-top: 20px;
}

.card {
  margin: 80px 20px 0;
}

.card-images {
  display: grid;
  grid-template-columns: repeat(3, fit-content(315px));
  gap: 20px;
  margin-top: 20px;
}

.picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sunset {
  grid-column: 1 / 3;
  overflow: hidden;
}

.ice_cream {
  grid-row: 1 / 3;
  grid-column: 3 / 4;
  overflow: hidden;
}

.tape {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  overflow: hidden;
}

.street {
  grid-column: 2 / 4;
  overflow: hidden;
}

.footer {
  position: relative;
  height: max(100vh, 668px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}

.footer_text {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  line-height: 129.53px;
  color: var(--tytle-color, black);
  text-shadow: 2px 2px 0 var(--shadow, black);
}

@media (668px <= width <= 768px) {
  .header {
    grid-template-rows: 45.20% 25.60% 29.1%;
  }
  .header__theme-menu {
    margin-left: auto;
    margin-right: 20px;
    align-self: center
  }
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-right: 5px;
  }
  .header_tytle {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
  .column {
    grid-template-columns: 1fr;
    gap: 29px;
  }
  .column_gros_tytle {
    max-width: calc(100% / 4);
  }
  .column_tytle{
    grid-column: auto;
    grid-row: auto;
  }
  .column__multitasking,
  .column__meal,
  .column__gadget {
    grid-column: auto;
    grid-row: auto;
    margin-top: -8px;
  }
  .footer_text {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 99px;
  }
}

@media (max-width: 668px) {
  .header {
    grid-template-rows: 35.60% 36.98% 27.4%;
  }
  .decor::after {
    top: 10px;
    right: 10px;
  }
  .decor::before {
    bottom: 10px;
    left: 10px;
  }
  .header__theme-menu {
    margin-left: auto;
    margin-right: 10px;
    align-self: center;
    margin-top: 7px;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
  .header__label {
    top: 10px;
    right: 38px; 
  }
  .header__label::after {
    top: 5px;
  }
  .header_tytle {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 95.7px;
    margin-left: 8px;
    letter-spacing: -2px;
  }
  .header_text {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - (10px * 2));
  }
  .content {
    grid-template-columns: 1fr;
    margin: 40px 10px 0;
  }
  .content__tytle,
  .content__paragraph {
    grid-column: auto;
    grid-row: auto;
  }
  .column {
    grid-template-columns: 1fr;
    margin: 50px 10px 50px;
  }
  .column_tytle,
  .column__multitasking,
  .column__meal,
  .column__gadget {
    grid-column: auto;
    grid-row: auto;
  }
  .card {
    margin: 50px 10px 0;
  }
  .card-images {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 10px;
  }
  .sunset,
  .ice_cream,
  .tape,
  .street {
    grid-column: auto;
    grid-row: auto;
  }
  .footer {
    margin-top: 40px;
  }
  .footer_text {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 99px;
  }
}